<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Accueil - Puissance 4 Web</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <header>
        <h1>Puissance 4 Web</h1>
        <img src="/static/logo/ChatGPT Image 23 oct. 2025, 09_42_33.png" alt="Logo" class="logo" />
    </header>

    <div class="container">
        <h2>Bienvenue sur Power'4!</h2>
        <p>Commencez une partie en cliquant sur "Jouer".</p>
        <button onclick="location.href='/play'">Jouer</button>
    </div>
</body>
</html>
