{{ define "content" }}
<section>
    <h2>Bienvenue sur Power'4 Web !</h2>
    <p>Un jeu de Puissance 4 développé en Go et HTML.</p>

    <h3>Règles du jeu :</h3>
    <ul>
        <li>Deux joueurs s’affrontent à tour de rôle.</li>
        <li>Le premier à aligner 4 jetons gagne.</li>
        <li>En cas de grille pleine sans vainqueur, c’est une égalité.</li>
    </ul>

    <a class="btn" href="/game/init">Commencer une partie</a>
</section>
{{ end }}
