<!DOCTYPE html>
<html lang="fr=>
<head>
    <meta charset="UTF-8">
    <title>Power'4 Web</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Puissance 4 Web</h1>
        <nav>
            <a href="/">Accueil</a> |
            <a href="/game/init">Nouvelle Partie</a>
            <a href="/game/scoreboard">ScoreBoard</a>
        </nav>
    </header>

    <main>
        {{ template "content" .}}
    </main>

    <footer>
    <p> °2025 Power'4 Web - Projet Etudiatn</p>
    </footer>
</body>
</html>