{{ define "content" }}
<h2>Partie en cours</h2>
<p>Ici s'affichera la grille du Puissance 4 (à faire en Go plus tard)</p>
<form action="/game/end" method="get">
    <button type="submit">Terminer la partie</button>
</form>
{{ end }}
